* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #aoo {
  width: 100%;
  min-height: 100vh;
}

body, button, input, textarea {
  font: 400 16px sans-serif;
}

a, button {
  cursor: pointer;
}
